@charset "UTF-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif;
	font-family: "Malgun Gothic";
}
input{
	font-family: '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif;
	font-family: "Malgun Gothic";
	font-weight:bold;
}
body {
	line-height: 1
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
nav ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}
del {
	text-decoration: line-through
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}
input, select {
	vertical-align: middle
}
li {
	list-style: none;
}
/*common*/
* {
	padding: 0;
	margin: 0;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}






/* common */
body{
/*  background:url(../images/bg.jpg);*/
}
.g_960{
	width:960px;
	margin:0 auto;
}

.page_wrap{
	width:100%;
	position:relative;
	position: relative;
	width: 100%;
	min-width: 1000px;
	height: auto;
	margin: 0 auto;	
}
.page_wrap .header a{
	display:block;
	float:left;
}
.page_wrap .header{
	width:100%;
}
.page_wrap .header a.cl_logo{
	width:100px;
	background:#ccc;
	height:50px;	
}
.page_wrap .header a.tfs_logo{
	float:right;
	width:100px;
	background:#ccc;
	height:50px;
}


.page_wrap .block_gift{
	width:100%;
	height:100%;
}
.inner_wrap{
	position:relative;
}
.page_wrap .block_gift .inner{
  position: absolute;
  top: 50%;
  left: 50%;	
}









.footer{
	background:#f6f6f6;
	padding:30px 0;
	text-align:center;
	margin-top:-10px;
}

/*popup*/
.popup_wrap{
}
.popup_wrap .block_close {
	width:100%;
	padding:10px 0 0;
}
.popup_wrap .block_close .btn_close{
	display:block;
	float:right;
	width:40px;
	height:40px;
}
.popup_wrap .p_mid{
	width:450px;
	height:520px;
	padding-bottom:25px;
	background:#fff url(../images/popup/bg_popup.png) bottom right no-repeat;
}
.popup_wrap .p_mid.qr{
	width:350px;
	height:455px;
}
.popup_wrap .p_mid.cal{
	width:900px;
	height:750px;
	padding-bottom:0;
	background:url(../images/popup/bg_cal2.png) bottom center no-repeat;
	position:relative;
}
.popup_wrap .p_mid.cal .inner{
	position:relative;
}
.popup_wrap .p_mid.cal .inner .arrow.left{
	position:absolute;
	top:180px;
	left:380px;
}
.popup_wrap .p_mid.cal .inner .arrow.right{
	position:absolute;
	top:180px;
	right:380px;
}
.popup_wrap .p_mid.cal .list_cal{
	text-align:center;
	margin:142px 0 0;
}
.popup_wrap .p_mid.cal .list_cal .mon_num{
	padding:10px 0;
	color:#2d74a0;
	font-weight:bold;
	font-size:16px;
}
.popup_wrap .p_mid.cal .list_cal .list{
	margin-top:50px;
}
.popup_wrap .p_mid.cal .list_cal .list ul{
	padding:19px 0;
	border-bottom:1px solid #ddd;
}
.popup_wrap .p_mid.cal .list_cal .list ul.last{
	border-bottom: none;
}
.popup_wrap .p_mid.cal .list_cal .list ul li{
	float:left;
	width:67px;
	display:block;
	color:#2d74a0;
	font-weight: bold;
	font-size:12px;
	position:relative;
}
.popup_wrap .p_mid.cal .list_cal .list ul li.sun,
.popup_wrap .p_mid.cal .list_cal .list ul li.sat{
	color:#9b1b45;
}
.popup_wrap .p_mid.cal .list_cal .list ul li span{
	display:block;
	position:absolute;
	z-index:1111;
	top:-15px;
	left:11px;
}
.popup_wrap .p_mid.cal .list_cal .list ul li span.ic_car{
}
.popup_wrap .p_mid.cal .list_cal .list ul li span.ic_ban{
	top:-10px;
	left:16px;
}

.popup_wrap .p_mid.cal .list_cal .list_detail{
	padding-top:35px;
	padding-left:40px;
}
.popup_wrap .p_mid.cal .list_cal .list_detail ul li{
	color:#0085d9;
	text-align:left;
	font-size:16px;
	font-weight:bold;
	letter-spacing:-1px;
	padding-bottom:4px;
	display:block;
	line-height:16px;
	text-align:center;
}

.popup_wrap .p_mid.cal .list_cal .list_detail ul li span,
.popup_wrap .p_mid.cal .list_cal .list_detail ul li img{
	display:block;
	float:left;
	padding-right:3px;
}
.popup_wrap .p_mid.cal .list_cal .list_detail ul li span{
	padding-top:2px;
}

.popup_wrap .p_mid.game{
	width:450px;
	height:700px;
	padding-bottom:25px;
	background:#e4f7ff url(../images/popup/bg_game2.png) bottom center no-repeat;
	position:relative;
}
.popup_wrap .p_mid.game .title2{
	text-align:center;
	padding-top:40px;
}
.popup_wrap .p_mid.game .btn_start{
	position:absolute;
	z-index:999;
	width:135px;
	height:135px;
	left:50%;
	margin-left:-67px;
	top:250px;
}
.popup_wrap .p_mid.game .cnt_num{
	position:absolute;
	z-index:998;
	width:50px;
	height:30px;
	left:50%;
	margin-left:-23px;
	top:250px;
	text-align:center;
	display:none;
}
.popup_wrap .p_mid.game .cnt_num div{
	width:50px;
	text-align:center;
	float:left;
}
.popup_wrap .p_mid.game .time{
	position:absolute;
	top:250px;
	left:145px;
	z-index:800;
}
.popup_wrap .p_mid.game .time .num{
	float:left;
	width:32px;
	padding-right:0;
}

.popup_wrap .p_mid.game .gage{
	position:absolute;
	width:200px;
	border-radius: 10px;
	background:rgba(255,255,255,0.8);
	height:30px;
	bottom:50px;
	left:120px;
	z-index:911;
	padding:3px;
}
.popup_wrap .p_mid.game .gage .bg{
	border-radius: 10px;
	background: url(../images/popup/bg_gage.png) repeat-x;	
	padding:9px 3px;
	color:#fff;
	font-weight:bold;
	font-size:12px;
	width:98%;
}
.popup_wrap .p_mid.game .img_product{
	position:absolute;
	z-index:899;
	bottom:160px;
	left:50%;
	margin-left:-120px;
	width:240px;
	height:400px;
}

.popup_wrap .p_mid.game .img_product.ending{
	position:absolute;
	z-index:899;
	bottom:153px;
	left:50%;
	margin-left:-227px;
	width:453px;
	height:572px;
}


.popup_wrap .p_mid.game .img_product .p_inner{
	position:relative;
	width:240px;
	height:400px;	
}
.popup_wrap .p_mid.game .img_product .p_inner .cap{
	position:absolute;
	bottom:89px;
	z-index:898;
}
.popup_wrap .p_mid.game .img_product .p_inner .cap.c_2{
	bottom:200px;
	z-index:896;
}
.popup_wrap .p_mid.game .img_product .p_inner .body{
	bottom:0;
	z-index:897;
	position:absolute;
}
.popup_wrap .p_mid.game .img_product.ing{
	bottom:180px;
}
.popup_wrap .p_mid.game .bg_water_1{
	position:absolute;
	z-index:900;
	bottom:120px;
	left:0;
}
.popup_wrap .p_mid.game .bg_water_2{
	position:absolute;
	z-index:901;
	bottom:80px;
	right:0;
}
.popup_wrap .p_mid .inner{
	padding:0 0 20px 0;
	padding-right:0;
}

.popup_wrap .p_big{
	width:760px;
	height:608px;
	text-align:center;
	background:#fff url(../images/popup/bg_popup.png) top left no-repeat;	
}
.popup_wrap .p_big .inner.detail{
	padding-top:45px;
}

.popup_wrap .p_big .inner.step_1 .movie{
	width:617px;
	margin:0 auto;
	padding-top:0;
}
.popup_wrap .p_big .inner.step_1 .movie .tag{
	text-align:left;
}
.popup_wrap .p_big .inner.step_1 .movie .player{
	height:340px;
	background:#eee;
	width:617px;
}
.popup_wrap .p_big .inner.step_1 .txt_block{
	padding-top:5px;
}
.popup_wrap .p_big .inner.step_2 .ss2,
.popup_wrap .p_big .inner.step_2 .ss3{
	width:617px;
	margin:0 auto;
	padding-top:0;
}
.popup_wrap .p_big .inner.step_2 .ss2{
    background:#fff url(../images/popup/step2_bg.png) top left no-repeat;
	height:203px;
}
.popup_wrap .p_big .inner.step_2 .ss2 div,
.popup_wrap .p_big .inner.step_2 .ss3 div{
	float:left;
}
.popup_wrap .p_big .inner.step_2 .ss2 div a,
.popup_wrap .p_big .inner.step_2 .ss3 div a{
	display:block;
}
.popup_wrap .p_big .inner.step_2 .ss2 div{
	padding-top:35px;
	padding-left:11px;
}
.popup_wrap .p_big .inner.step_2 .ss3 div{
    padding-top:37px;
	padding-left:11px;	
}
.popup_wrap .p_big .inner.step_2 .ss3 div.shr_01{
	padding-left:220px;
}
.popup_wrap .p_big .inner.step_2 .ss3{
	margin-top:15px;
    background:#fff url(../images/popup/step3_bg.png) top left no-repeat;
	height:125px;
}
.popup_wrap .p_big .inner.step_2 .btn_block{
	padding-top:20px;
}



.popup_wrap .p_mid.thnx .title{
	padding-top:20px;
}
.popup_wrap .p_mid.thnx .gift{
	text-align:center;
	padding-top:25px;
	padding-bottom:15px;
}
.popup_wrap .p_mid.thnx .m_cound{
	background:url(../images/popup/bg_count.png) top center no-repeat;
	text-align:center;
	height:20px;
	padding:20px 0;
	color:#666;
	letter-spacing:-1px;
	font-size:14px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.popup_wrap .p_mid.thnx .m_cound span{
	color:#486271;
	font-weight:bold;
}

.popup_wrap .p_alert .block_content .btn_block.eventing{
	padding-top:30px;
}
.popup_wrap .p_alert .btn_block.eventing a{
	display:block;
	float:left;
}
.popup_wrap .p_alert .btn_block.eventing a.first{
	padding-left:55px;
	padding-right:10px;
}



.popup_wrap .p_mid .block_content.agree .inner{
	padding:0 30px 30px;
	padding-right:20px;
	font-size:13px;
	line-height:20px;
	word-break:break-all;
	overflow-y:scroll;
	width:370px;
	height:320px;
	color:#345778;
}

.popup_wrap .p_mid .block_content.product .inner{
	text-align:center;
	padding:0;
	padding-top:20px;
}

.popup_wrap2{
}


.popup_wrap .p_movie{
	width:860px;
	height:400px;
}
.block_share_btn{
	text-align:right;
}
.popup_wrap .p_movie .block_close{
	padding:0;
}
.popup_wrap .p_movie .block_close .btn_close{
  width: 43px;
  height: 43px;
}


.popup_wrap .p_alert{
	width:450px;
	height:280px;
	background:#fff url(../images/popup/bg_popup.png) bottom center no-repeat;
}
.popup_wrap .block_content .title{
	text-align:center;
}
.popup_wrap .block_content .title2{
	padding-bottom:20px;
}
.popup_wrap .block_content .p3{
	padding:30px 0 30px;
}
.popup_wrap .block_content .pb3{
	padding:0 0 30px;
}
.popup_wrap .p_alert .block_content .title{
	padding-top:25px;
}
.popup_wrap .p_alert .block_content .title.thx{
	padding-top:0px;
}
.popup_wrap .p_alert .block_content .btn_block{
	text-align:center;
	padding-top:35px;
}
.popup_wrap .p_alert .block_content .btn_block.thx{
	text-align:center;
	padding-top:10px;
}

.popup_wrap .p_alert .block_content.thanks .title{
	padding-top:20px;
}
.popup_wrap .p_alert .block_content.thanks .btn_block{
	text-align:center;
	padding-top:20px;
}


.popup_wrap .block_content .input_block{
	padding-top:15px;
}
.popup_wrap .block_content .input_block ul{
	width:100%;
}
.popup_wrap .block_content .input_block.input_check{
	padding-left:110px;
}
.popup_wrap .block_content .input_block ul li{
	display:block;
	float:left;
}

.popup_wrap .block_content .input_block ul li.t_name{
	width:110px;
	text-align:right;
	padding-right:10px;
	padding-top:9px;
}

.popup_wrap .block_content .input_txt input,
.popup_wrap .block_content .input_txt select{
	background:#d4e5ee;
	height:29px;
	padding:2px;
	border:none;
	width:241px;
	font-size:13px;
}
.popup_wrap .block_content .input_txt.phone div{
	float:left;
	width:83px;
}

.popup_wrap .block_content .input_txt.phone input,
.popup_wrap .block_content .input_txt.phone select{
	width:75px;
}
.popup_wrap .block_content .input_txt.store{
	width:125px;
}
.popup_wrap .block_content .input_txt.store select,
.popup_wrap .block_content .input_txt.store input{
	width:116px;
}

.popup_wrap .block_content .input_block.input_check .in_check_label{
	padding-left:5px;
}

.popup_wrap .block_content .btn_block{
	text-align:center;
	padding-top:10px;
}


.txt_gift_detail{
	padding:10px 0 5px;
	text-align:center;
}
.bar{
	border-bottom:1px solid #e0ecf5;
	margin:10px 40px 5px;
}







.wrap_page{
	width:100%;
}
.contents_wrap{
	position:absolute;width:100%	;
}

.wrap_menu{
	width:100%;
	/*background: rgba(255, 255, 255, 1); */
	background: white; 
	height:70px;
	border-bottom:1px solid #cae7f3;
	
}
.menu{
	width:1000px;
	height:70px;
	z-index:5;
	/*margin:0 auto;*/
	position:absolute;
	left:50%;
	margin-left:-500px;
}
.menu .block_logo{
	float:left;
	padding-top:15px;
}
.menu .block_menu{
	padding-top:15px;
	float:right;
	width:823px;
}
.menu .block_menu a,
.menu .block_menu span{
	display:block;
	float:left;
	padding-top:13px;
}

.menu .block_menu a.btn_view_pro,
.menu .block_menu a.btn_fb,
.menu .block_menu a.btn_kt{
	padding-top:3px;
	padding-left:5px;
	
}
.menu .block_menu a.btn_kt{
	float:right;
}
.menu .block_menu a.btn_view_pro{
	padding-left:25px;
}
.menu .block_menu a.btn_fb{
	padding-left:100px;
}
.menu .block_menu span{
	padding:15px 25px 0;
}


.contents_wrap .area1{
	background:#e4f7ff;
	height:1500px;
}
.contents_wrap .area1 .bg_inner{
	background:url(../images/bg_top.png) bottom center no-repeat;
	background-size: auto;	
	height:1500px;
}


.contents_wrap .area1 .candy_mbom{
	position:absolute;
	top:760px;
	right:71%;
	z-index:803;
}
.contents_wrap .area1 .candy_abom{
	position:absolute;
	top:810px;
	left:72%;
	z-index:803;
}
.contents_wrap .area1 .cap_mbom{
	position:absolute;
	top:80px;
	right:80%;
	z-index:799;
}
.contents_wrap .area1 .cap_abom{
	position:absolute;
	top:80px;
	left:80%;
	z-index:799;
}
.contents_wrap .area1 .bg_mbom{
	position:absolute;
	top:120px;
	right:65%;
	z-index:800;
}
.contents_wrap .area1 .bg_abom{
	position:absolute;
	top:170px;
	left:65%;
	z-index:800;
}

.contents_wrap .area1 .title{
	position:absolute;
	top:100px;
	left:50%;
	margin-left:-240px;
	z-index:805;
	text-align:center;
}
.contents_wrap .area1 .btn_go,
.contents_wrap .area1 .btn_mobile{
	position:absolute;
	top:480px;
	margin-left:-161px;
	left:50%;
	text-align:center;
	z-index:806;
}

.contents_wrap .area1 .btn_mobile{
	top:580px;
	margin-left:-105px;
}
.contents_wrap .area1 .img_detail{
	position:absolute;
	bottom:70px;
	margin-left:-334px;
	left:50%;
	text-align:center;
	z-index:806;
}


.contents_wrap .title{
	text-align:center;
}
.block_cal {
	background:#f0faff url(../images/bg_cal.png) bottom center no-repeat;
	background-size:auto;
	width:100%;
	height:990px;
}
.block_cal .arrow_left {
position:absolute;width:100px;height:400px;left:20%;
padding-top:50px;
}
.block_cal .arrow_right{
position:absolute;width:100px;height:400px;left:80%;
padding-top:50px;	

}


.block_cal .title{
	padding-bottom:20px;
}
.block_offevent_1{
	background:#fff;
	width:100%;
	height:1000px;
}
.block_offevent_1 .title{
	padding-top:100px;
	position:relative;
	width:660px;
	margin:0 auto;
}
.block_offevent_1 .btn_cal{
	position:absolute;
	right:100px;
	top:101px;
}
.block_offevent_1 .off1_img1,
.block_offevent_1 .off1_img2{
	position:absolute;
	z-index:800;
	left:50%;
	margin-left:-363px;
}
.block_offevent_1 .off1_img2{
	z-index:801;
	margin-left:-474px;
	top:325px;
}


.block_offevent_2{
	background:#e4f7ff url(../images/bg_white.png) 50% 50% no-repeat;
	width:100%;
	height:1000px;
}
.block_offevent_2 .title{
	padding-top:100px;
	position:relative;
	width:707px;
	margin:0 auto;
}
.block_offevent_2 .btn_cal{
	position:absolute;
	right:122px;
	top:102px;
}

.block_offevent_2 .block_img_detail{
	width:660px;
	left:50%;
	margin-left:-330px;
	position:absolute;
	height:250px;
	top:38%;
}
.block_offevent_2 .block_img_detail .d_1,
.block_offevent_2 .block_img_detail .d_2,
.block_offevent_2 .block_img_detail .d_3{
	float:left;
	width:220px;
}
.block_offevent_2 .block_img_detail .d_1,
.block_offevent_2 .block_img_detail .d_3{
	padding-top:40px;
}
.block_offevent_2 .car_bg{
	width:100%;
	height:340px;
	bottom:0;
	position:absolute;
	background:url(../images/bg_car.png) 30% 100% no-repeat;
}
.block_offevent_2 .inner{
	position:relative;
	width:100%;
	height:310px;
}
.block_offevent_2 .inner .img_car{
	position:absolute;
	width:700px;
	left:50%;
	top:0;
	margin-left:-350px;
	z-index:100;
}
.block_offevent_2 .inner .ful_1,
.block_offevent_2 .inner .ful_2{
	position:absolute;
	z-index:110;
	bottom:2px;
}
.block_offevent_2 .inner .ful_1{
	left:37%;
	margin-left:-50px;
}
.block_offevent_2 .inner .ful_2{
	left:62%;
}

.block_offevent_3{
	width:100%;
	height:984px;
	position:relative;
	
}
.block_offevent_3 .inner{
	width:100%;
	
}
.block_offevent_3 .vs{
	position:absolute;
	top:100px;
	left:48%;
}
.block_offevent_3 .mbom,
.block_offevent_3 .abom{
	width:50%;
	background:#cbdef1 url(../images/bg_white.png) center;
	float:left;
	text-align:center;
}

.block_offevent_3 .abom{
	background:#d3eff5 url(../images/bg_white.png) center;
}
.block_offevent_3 .mbom .title,
.block_offevent_3 .abom .title{
	height:76px;
	padding-top:100px;
}
.block_offevent_3 .mbom .img,
.block_offevent_3 .abom .img{
	height:540px;
	margin-top:-30px;
}
.block_offevent_3 .abom .img{
	margin-top:17px;
	height:501px;
}
.block_offevent_3 .mbom .img{
}
.block_offevent_3 .mbom .txt{
	padding-top:20px;
}
.block_offevent_3 .mbom .btn_block{
	padding-top:30px;
	padding-bottom:80px;
}
.block_offevent_3 .abom{
	width:50%;
	background:#d3eff5 url(../images/bg_white.png) center;
	float:left;
	text-align:center;
}
.block_offevent_3 .abom .txt{
	padding-top:12px;
}
.block_offevent_3 .abom .btn_block{
	padding-top:30px;
	padding-bottom:80px;
}

.ab_inner{
	text-align:center;
	position:relative;
}

.block_content.agree{
	text-align:left;
}